<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<configuration>

    <!--引入外部配置文件  优先使用-->
    <properties resource="db.properties">
        <property name="u" value="root"></property>
        <property name="p" value="root"></property>
    </properties>

    <!--可以给实体类起别名-->
    <typeAliases>
        <typeAlias type="com.dzu.pojo.User" alias="User"></typeAlias>
        <!--<package name="com.dzu.pojo" ></package>-->
    </typeAliases>

    
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${u}"/>
                <property name="password" value="${p}"/>
            </dataSource>
        </environment>
    </environments>

    <!--每一个Mapper。xml都需要在Mybatis核心配置文件中注册！-->
    <mappers>
        <!--<mapper resource="com/dzu/mapper/UserMapper.xml"/>-->
        <!--<mapper class="com.dzu.mapper.UserMapper"></mapper>-->
        <package name="com.dzu.mapper"></package>
    </mappers>
    



</configuration>